@*@model EIP_System.Models.tProjectDetail*@

@*@model EIP_System.ViewModels.CVM_ProjectDetailTimeRecord*@

@model EIP_System.Models.tTimeRecord

@{
    ViewBag.Title = "MyTaskIndex";

    int todoCount = ViewBag.Todo;
    int doingCount = ViewBag.Doing;
    int acceptanceCount = ViewBag.Acceptance;
    int finishCount = ViewBag.Finish;

    var prjName = Json.Encode(ViewBag.PrjName);
    var prjTime = Json.Encode(ViewBag.PrjTime);

}


<input style="display:none" type="text" id="MyTaskPmId">

<!--我的任務-->
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>我的任務 </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="x_content">
                            <div class="row">
                                <div class="col-md-3 ">
                                    <a class="tile-stats bg-green-light">
                                        <div class="icon">
                                            <i class="fa fa-circle-o-notch"></i>
                                        </div>
                                        <div class="count">未開始</div>
                                        <div class="count" style="left:15%">@todoCount</div>
                                    </a>
                                </div>
                                <div class=" col-md-3 ">
                                    <a class="tile-stats bg-green">
                                        <div class="icon">
                                            <i class="fa fa-comments-o"></i>
                                        </div>
                                        <div class="count">進行中</div>
                                        <div class="count" style="left:15%">@doingCount</div>
                                    </a>
                                </div>
                                <div class=" col-md-3 ">
                                    <div class="tile-stats bg-blue">
                                        <div class="icon">
                                            <i class="fa fa-sort-amount-desc"></i>
                                        </div>
                                        <div class="count">待驗收</div>
                                        <div class="count" style="left:15%">@acceptanceCount</div>
                                    </div>
                                </div>
                                <div class=" col-md-3 ">
                                    <div class="tile-stats bg-green-dark">
                                        <div class="icon">
                                            <i class="fa fa-check-circle-o"></i>
                                        </div>
                                        <div class="count">驗收完成</div>
                                        <div class="count" style="left:15%">@finishCount</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-hover table-striped" id="TaskList">
                    <thead class="bg-primary">
                        <tr>
                            <th>案號</th>
                            <th>案名</th>
                            <th>階段</th>
                            <th>任務</th>
                            <th>狀態</th>
                            <th>起始日</th>
                            <th>截止日</th>
                            <th width="10%"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- taskModal 編輯任務狀態-->
<div class="modal fade" id="taskModal" role="dialog">
    <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="exampleModalLabel" style="text-align: center;color:#fff">工作項目</h2>

            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "ProjectDetail", FormMethod.Post, new { @id = "forTaskmsumit" }))
                {

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="form-group">
                                @*使用Html.HiddenFor 隱藏ID用於修改相關*@
                                @*@Html.HiddenFor(model => model.fProjectDetailId)*@
                                <input type="hidden" name="prjDetailId" id="prjDetailId" />
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-12">狀態</label>
                                <div class="col-md-12 col-sm-12 ">
                                    <select id="fStatus" name="fStatus" class="form-control">
                                        <option>未開始</option>
                                        <option>進行中</option>
                                        <option>待驗收</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <div class="col-md-8 col-md-offset-2">
                    <button type="button" class="btn btn-primary" id="showTaskUpdate" onclick="updateTask()">修改</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--今日工作紀錄-->
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="x_panel">
            <div class="x_title">
                <h2> 工時紀錄 </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <button class="btn btn-success" style="margin-bottom:10px" onclick="showRecordModal()">新增</button>
                <table class="table table-bordered table-hover table-striped" id="RecordTodayList">
                    <thead class="bg-primary">
                        <tr>
                            <th>日期</th>
                            <th>案號</th>
                            <th>案名</th>
                            <th>階段</th>
                            <th>任務</th>
                            <th>時數</th>
                            <th>備註</th>
                            <th>狀態</th>
                            <th width="10%"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<!--歷史紀錄查詢-->
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="x_panel">
            <div class="x_title">
                <h2> 歷史紀錄查詢 </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <!--查詢選單 -->
                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align">
                        開始時間
                    </label>
                    <div class="col-md-6 col-sm-6 ">
                        <input name="startTime" id="startTime" class="form-control" type="date" required="required">
                        <span style="display:none;color:red">請選擇日期</span>
                    </div>

                    <label class="col-form-label col-md-3 col-sm-3 label-align">
                        結束時間
                    </label>
                    <div class="col-md-6 col-sm-6 ">
                        <input name="endTime" id="endTime" class="form-control" type="date" required="required">
                        <span style="display:none;color:red">請選擇日期</span>

                    </div>

                    <div class="col-md-6 col-sm-6 ">
                        @*<input type="submit" class="btn btn-info" value="查詢" id="searchRecord" />*@
                        <btn class="btn btn-success" id="searchRecord">查詢</btn>
                        <span style="display:none;color:red;">請選擇正確區間</span>
                    </div>
                </div>

                <table class="table table-bordered table-hover table-striped" id="HistroyRecordList">
                    <thead class="bg-primary">
                        <tr>
                            <th>日期</th>
                            <th>案號</th>
                            <th>案名</th>
                            <th>階段</th>
                            <th>任務</th>
                            <th>時數</th>
                            <th width="10%">狀態</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6 col-sm-6" style="display:none" id="chart1">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                各專案時數統計
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <canvas id="prjChart"></canvas>
        </div>
    </div>
</div>

<div class="col-md-6 col-sm-6 " style="display:none" id="chart2">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    各任務時數統計
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <canvas id="taskChart"></canvas>
                @*<canvas id="exampleChart"></canvas>*@
            </div>
        </div>
</div>

<!--  recordModal新增工時紀錄 -->
<div class="modal fade" id="recordModal" role="dialog">
    <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="exampleModalLabel" style="text-align: center;color:#fff">新增工時紀錄</h2>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "formRecordsumit" }))
                {

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="form-group">
                                @*使用Html.HiddenFor 隱藏ID用於修改相關*@
                                @Html.HiddenFor(model => model.fTimeRecordId)
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-12">案號</label>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.fProjectId, new { htmlAttributes = new { @class = "form-control", onchange = "getLevel(this.value)" } })
                                    @Html.ValidationMessageFor(model => model.fProjectId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-12">案名</label>
                                <div class="col-md-12">
                                    <input id="projectName" class="form-control" readonly="readonly">
                                </div>
                            </div>

                            @*從tlevel產生下拉式選單*@
                            <div class="form-group">
                                <label class="control-label col-md-12">階段</label>
                                <div class="col-md-12">
                                    <select id="fStage" name="fStage" class="form-control"></select>
                                </div>
                            </div>

                            @*從ProjectDetail產生下拉式選單 選擇任務名稱 但存入任務編號*@
                            <div class="form-group">
                                <label class="control-label col-md-12">任務</label>
                                <div class="col-md-12">
                                    <select id="fProjectDetailId" name="fProjectDetailId" class="form-control"></select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-12">時數</label>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.fTime, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.fTime, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="modal-footer">
                <div class="col-md-8 col-md-offset-2">
                    @*<button type="button" class="btn btn-success" id="btn_demo">Demo</button>*@
                    <button type="button" class="btn btn-primary" id="showAdd" onclick="submit()">新增</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  recordEditModal 修改工時紀錄 -->
<div class="modal fade" id="recordEditModal" role="dialog">
    <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                @*<h5 class="modal-title" id="exampleModalLabel">修改工時紀錄</h5>*@
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="exampleModalLabel" style="text-align: center;color:#fff">修改工時紀錄</h2>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "formRecordEdit" }))
                {

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="form-group">
                                @*使用Html.HiddenFor 隱藏ID用於修改相關*@
                                <input type="hidden" name="timeRecordId" id="timeRecordId" />
                                @*@Html.HiddenFor(model => model.fTimeRecordId)*@
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-12">時數</label>
                                <div class="col-md-12">
                                    <input name="time" id="time" class="form-control" />
                                    @*@Html.EditorFor(model => model.fTime, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.fTime, "", new { @class = "text-danger" })*@
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="modal-footer">
                <div class="col-md-8 col-md-offset-2">
                    <button type="button" class="btn btn-primary" onclick="update()">修改</button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .timeline h2.title:before {
        border: 3px solid #3498DB;
    }

    .tile-stats .count {
        font-size: 28px;
        font-weight: bold;
        line-height: 1.65857143;
    }
</style>

@section scripts{




    @*我的任務*@

    <script>


    //顯示修改視窗
    function showTaskModal(id) {
    $("#prjDetailId").val(id);
    $("#taskModal").modal("show");
    }

    let data;
    //取得工作項目
    var taskTable;
    $(document).ready(function () {

    taskTable =
        $("#TaskList").DataTable({
        "ajax": {
            "type": "GET",
            "url":"@Url.Action("GetMyTaskData", "ProjectDetail")",
            "datatype": "JSON"
        },
            "columns": [
                { "data": "prjId" },
                { "data": "prjName" },
                { "data": "levelName" },
                { "data": "taskName" },
                { "data": "status" },
                { "data": "startTime" },
                { "data": "deadline" },
                {
                    "data": "prjDetailId", "render": function (prjDetailId) {
                        return `<a class='btn btn-success' onclick='getTaskEdit(${prjDetailId}); showTaskModal(${prjDetailId});' style='margin-right:10px'>編輯</a>`
                    }
                }
        ],
        "language": {
            "processing": "<p>載入中</p>",
            "emptyTable": "沒有任何資料，請按[新增]按鈕來新增資料"
        }
        });
    });

    //取得要修改的那筆資料
    function getTaskEdit(id) {
    $.ajax({
        type: "POST",
        url: "/ProjectDetail/GetEdit?fId=" + id,
        dataType: "JSON",
        success: function (response) {
            $("#prjDetailId").val(response.data[0].prjDetailId);
            $("#fStatus").val(response.data[0].status);
            $("#MyTaskPmId").val(response.data[0].pmId);
        },
        error: function (msg) {
            alert(msg.responseText);
        }
    })
    }

    //修改資料
    function updateTask() {
    var data = $("#forTaskmsumit").serialize();
    $.ajax({
        type: "POST",
        url: "@Url.Action("EditStatus", "ProjectDetail")",
        data: data,
        success: function (response) {
            if (response == "success") {
                //alert("資料儲存成功");
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: '修改成功',
                    showConfirmButton: false,
                    timer: 1000
                })
                taskTable.ajax.reload();
                $("#taskModal").modal('hide');

                //刷新頁面
                window.location.reload();
            }
        },
        error: function (msg) {
            alert(msg.responseText);
        }
    })
    }


    </script>


    @*工時紀錄*@

<script>
    //取得歷史工作紀錄
    var histroyRecordTable;

    $("#searchRecord").click(function () {

    $("#HistroyRecordList").DataTable().destroy();

    let start = $("#startTime").val();
    let end = $("#endTime").val();
    if (start != "" && end != "" && new Date(start) < new Date(end)) {
        $("#startTime+span").hide();
        $("#endTime+span").hide();
        $("#searchRecord+span").hide();
        histroyRecordTable =
            $("#HistroyRecordList").DataTable({
                "ajax": {
                    "type": "POST",
                    "url": "@Url.Action("Search", "TimeRecord")",
                    "data": { startTime: start, endTime: end },
                },
                "columns": [
                    { "data": "date" },
                    { "data": "projectId" },
                    { "data": "projectName" },
                    { "data": "levelName" },
                    { "data": "taskName" },
                    { "data": "time" },
                    //{ "data": "approve" }
                    {
                        "data": "approve", "render": function (agree) {
                            console.log(agree);
                            let show;
                            if (agree == "同意") {
                                show = '<span class="label label-success"><i class="fa fa-check-square ">通過</i></span>';
                            } else if (agree == "不同意") {
                                show = '<span class="label label-danger"><i class="fa fa-remove">不通過</i></span>';
                            } else {
                                show = '<span class="label label-primary"><i class="fa fa-clock-o">待審核</i></span>';
                            }
                            return show;
                        }
                    },
                ],
                "language": {
                    "processing": "<p>載入中</p>",
                    "emptyTable": "沒有任何資料，請按[新增]按鈕來新增資料"
                }
            });
        histroyRecordTable.ajax.reload();
    } else if (new Date(start) > new Date(end)) {
        $("#startTime+span").hide();
        $("#endTime+span").hide();
        $("#searchRecord+span").show();
    }else if (start != "") {
        $("#startTime+span").hide();
        $("#endTime+span").show();
        $("#searchRecord+span").hide();
    }
    else if (end != "") {
        $("#startTime+span").show();
        $("#endTime+span").hide();
        $("#searchRecord+span").hide();
    }
    else {
        $("#startTime+span").show();
            $("#endTime+span").show();
        };

        $("#chart1").css("display", "block");
        var prjName = [];
        var prjTime = [];
        $.post("/TimeRecord/prjChart/", { startTime: start, endTime: end }, function (data) {

            for (let f of data) {
                prjName.push(f.prjname);
                prjTime.push(f.prjtime);
            }
            var ctxPie = document.getElementById("prjChart");
            var pieChart = new Chart(ctxPie, {
                type: 'doughnut',
                data: {
                    labels: prjName,
                    datasets: [{
                        data: prjTime,
                        backgroundColor: [
                            "#26B99A",
                            "#3498DB",
                            "#455C73",]
                    }],
                },
                options: {
                    responsive: true,
                    tooltips: {
                        mode: 'point',
                        intersect: true,
                    },
                    legend: {
                        position: 'bottom',
                        labels: {
                            fontColor: 'black',
                        }
                    }
                }
            });

        });

        $("#chart2").css("display", "block");
        var taskName = [];
        var taskTime = [];
        $.post("/TimeRecord/taskChart/", { startTime: start, endTime: end }, function (data) {


            for (let f of data) {
                taskName.push(f.taskname);
                taskTime.push(f.tasktime);
            }

            console.log(taskName);
            console.log(taskTime);

            var ctxPie = document.getElementById("taskChart");
            var lineChart = new Chart(ctxPie, {
                type: 'bar',
                data: {
                    labels: taskName,
                    datasets: [{
                        data: taskTime,
                        backgroundColor: "#26B99A"
                    }],
                },
                options: {
                    responsive: true,
                    tooltips: {
                        mode: 'point',
                        intersect: true,
                    },
                    legend: {
                        position: 'bottom',
                        labels: {
                            fontColor: 'black',
                        }
                    }
                }
            });
        }
    )})

    @*function prjTable() {

        $.ajax({
        type: "POST",
        url: "@Url.Action("prjCostData", "Project",new { prjId = @Model.budget.tProject.fProjectId })",
        dataType: "JSON"
        }).done(function (data) {
            //Table
            console.log(data)
            $("#levelTable").append(`<td></td><td style="width:37%;">名稱</td><td>預估費用</td><td>已花費用</td>`)
            for (var i = 0; i < data.length; i++) {

                $("#levelTable").append(`<tr>
                            <td ><i class="fa fa-square" style="color:${color[i]}"></td>
                            <td>${data[i].Levelname}</td>
                            <td>$${data[i].EstimateCost.replace(/(\d)(?=(?:\d{3})+$)/g, '$1,')}</td>
                            <td>$${data[i].cost.replace(/(\d)(?=(?:\d{3})+$)/g, '$1,')}</td>
                            </tr>`);
            }
        })
    }*@
</script>

    <script>
    //取得今日工作紀錄
    var RecordTable;

        $(document).ready(function () {

            var isAgree;  //通過審核不能撤銷

            RecordTable =
                $("#RecordTodayList").DataTable({

                    //關閉搜尋相關
                    "searching": false,
                    "paging": false,
                    "info": false,
            "ajax": {
                "type": "POST",
                "url": "@Url.Action("Getdata", "TimeRecord")",
                "datatype": "JSON"
            },
            "columns": [
                { "data": "date" },
                { "data": "projectId" },
                { "data": "projectName" },
                { "data": "levelName" },
                { "data": "taskName" },
                { "data": "time" },
                { "data": "remarks" },
                {
                    "data": "approve", "render": function (approve) {
                        let show;
                        if (approve == "同意") {
                            show = '<span class="label label-success"><i class="fa fa-check-square ">通過</i></span>';
                            isAgree = "同意";
                        } else if (approve == "不同意") {
                            show = '<span class="label label-danger"><i class="fa fa-remove">不通過</i></span>';
                            isAgree = "不同意";
                        } else {
                            show = '<span class="label label-primary"><i class="fa fa-clock-o">待審核</i></span>';
                            isAgree = "";
                        }
                        return show;
                    }
                },
                {
                    "data": "timeRecordId", "render": function (timeRecordId) {
                        if (isAgree == "") {
                            return `<a class='btn btn-warning' onclick='Delete(${timeRecordId})'>撤銷</a>`;
                        }
                        else if (isAgree == "不同意") {
                            return `<a class='btn btn-success' onclick='getRecordEdit(${timeRecordId});showRecordEditModal(${timeRecordId});'>修改</a>`;
                        } else {
                            return "";
                        }

                    }
                }


            ],
            "language": {
                "processing": "<p>載入中</p>",
                "emptyTable": "沒有任何資料，請按[新增]按鈕來新增資料"
            }
        });
    });

    //顯示 新增視窗
    function showRecordModal() {
    $("#recordModal").modal("show");
        //新增
        $("#showAdd").show();
        $("#showUpdate").hide();
    }

    //顯示 新增視窗
    function showRecordEditModal() {
    $("#recordEditModal").modal("show");
    }

    function submit() {
        var data = $("#formRecordsumit").serialize();
    $.ajax({
        type: "POST",
        url: "@Url.Action("Create", "TimeRecord")",
        data: data,
        success: function (response) {
            if (response == "success") {

                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: '工時紀錄新增成功',
                    showConfirmButton: false,
                    timer: 1000
                })

                RecordTable.ajax.reload();
                $("#recordModal").modal('hide');
            }
        },
        error: function (msg) {
            alert(msg.responseText);
        }
    });
    }

    function Delete(id) {
    Swal.fire({
        title: '您確定要撤銷嗎?',
        //text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: '確定'
    }).then((result) => {
        if (result.isConfirmed) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("Delete", "TimeRecord")/' + id,
                success: function (response) {
                    if (response == "success") {
                        Swal.fire(
                            '成功!',
                            '你的工時紀錄已撤銷',
                            'success')
                        RecordTable.ajax.reload();
                        $("#myModal").modal('hide');

                    }
                    else { alert("失敗"); }
                },
                error: function (msg) {
                    alert(msg.responseText);
                }
            })
        }
    })
    }

    //取得要修改的那筆資料
    function getRecordEdit(id) {
    $.ajax({
        type: "POST",
        url: "/TimeRecord/GetEdit?fId=" + id,
        dataType: "JSON",
        success: function (response) {
            $("#timeRecordId").val(response.data[0].timeRecordId);
            $("#time").val(response.data[0].time);
        },
        error: function (msg) {
            alert(msg.responseText);
        }
    })
    }

    //修改資料
    function update() {
    var data = $("#formRecordEdit").serialize();
    $.ajax({
        type: "POST",
        url: "@Url.Action("Edit", "TimeRecord")",
        //data: { fId: timeRecordId, time: time},
        data: data,
        success: function (response) {
            if (response == "success") {
                //alert("資料儲存成功");
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: '修改成功',
                    showConfirmButton: false,
                    timer: 1000
                })
                RecordTable.ajax.reload();
                $("#recordEditModal").modal('hide');
            }
        },
        error: function (msg) {
            alert(msg.responseText);
        }
    })
    }

    </script>
    <script>

        //自動取得案名
        $("#fProjectId").change(function () {
            $("#projectName").val("");
            var Id = $(this).val();
            $.ajax({
                url: "/TimeRecord/GetProjectName?prjId=" + Id,
                type: "Get",
                success: function (data) {
                    $("#projectName").val(data);
                }
            });
        });

        //自動取得階段
        var jsonLevel;
        function getLevel(str) {
            $("#fStage").empty();
            $.ajax({
                url: "/TimeRecord/GetLevels?prjId=" + str,
                type: "Get",
                success: function (data) {
                    jsonLevel = JSON.parse(data);
                    $.each(jsonLevel, function (i, value) {

                        //輸入案名後從tlevel產生下拉式選單
                        $("#fStage").append("<option class='selector1' value=" + value.fLevelId + ">" + value.fLevelName + "</option>");
                    })
                }
            });
        };

        //自動取得任務
        //不應該用change 否則第一階段不會出現任務
        var jsonTask;
        $("#fStage").change(function () {
            $("#fProjectDetailId").empty();
            //var i = $(".selector1").val(); vs.//$(this)
            var Id = $(this).val();
            console.log(Id);
            $.ajax({
                url: "/TimeRecord/GetTask?levelId=" + Id,
                type: "Get",
                success: function (data) {
                    jsonTask = JSON.parse(data);
                    $.each(jsonTask, function (i, value) {

                        //從ProjectDetail產生下拉式選單 選擇任務名稱 但存入任務編號
                        $("#fProjectDetailId").append("<option class='selector2' value=" + value.fProjectDetailId + ">" + value.fTaskName + "</option>");
                    })
                    var fProjectDetailId = $(".selector2").val();
                    console.log(fProjectDetailId);

                }
            });
        });

        //demo
        //$("#btn_demo").click(function () {
        //    $("#fProjectId").val("1090101");
        //});

    </script>

}
